button {
  min-width: 80px;
}

form {
  display: block;
  width: 100%;
  max-width: 800px;
  margin-bottom: 50px;
}

app-comment-list {
  width: 100%;
  max-width: 800px;
}

textarea {
  line-height: 120%;
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

.send {
  color: var(--on-primary);
  background-color: var(--primary);
}

mat-hint {
  color: var(--on-surface) !important;
}

.mat-select-value-text {
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

.placeholder {
  color: var(--on-surface);
}

::ng-deep .mat-form-field-label {
  color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-select-arrow-wrapper .mat-select-arrow {
  color: var(--on-surface);
}

::ng-deep .mat-select-value-text {
  color: var(--on-surface);
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary);
}
